{% extends 'base.html.twig' %}

{% block title %}New Quest{% endblock %}

{% block body %}
    <!-- Main modal -->
    <div id="defaultModal" class="h-[calc(100vh-44px)] flex items-center justify-center">
        <div class="relative p-4 w-full max-w-2xl">
            <!-- Modal content -->
            <div class="relative p-4 rounded-lg shadow bg-yInMnBlue sm:p-5">
                <!-- Modal header -->
                <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5">
                    <h3 class="text-lg font-semibold text-white">
                        New Quest!
                    </h3>
                    <button type="button"
                            onclick="window.location.href='{{ path('app_user_show' , {'id': app.user.id }) }}'"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                            data-modal-toggle="defaultModal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                {{ form_start(form) }}
                <!-- Title -->
                <div>
                    {{ form_row(form.title, {
                        'label': 'Title',
                        'label_attr': {'class': 'text-white'},
                        'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5', 'placeholder': 'SAL ALGO PORFAVÓ ODIO EL ESTILADO'}
                    }) }}
                </div>
                <!-- Selects -->
                <div class="grid gap-4 mt-4 sm:grid-cols-2">
                    <div>
                        {{ form_row(form.type, {
                            'label': 'Type',
                            'label_attr': {'class': 'text-white'},
                            'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5'}
                        }) }}
                    </div>
                    <div>
                        {{ form_row(form.difficulty, {
                            'label': 'Difficulty',
                            'label_attr': {'class': 'text-white'},
                            'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5'}
                        }) }}
                    </div>
                </div>
                <!-- Description -->
                <div class="mt-4">
                    {{ form_row(form.description, {
                        'label': 'Description',
                        'label_attr': {'class': 'text-white'},
                        'attr': {'class': ' block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 h-32' , 'rows': '10', 'placeholder': 'SAL ALGO PORFAVÓ ODIO EL ESTILADO'},

                    }) }}
                </div>
                <!-- Submit Button -->
                <div class="flex justify-center mt-6">
                    <button type="submit"
                            class="text-white inline-flex items-center bg-sky-400 hover:bg-sky-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FFFFFF/sword.png" class="mr-1.5" alt="sword"/>
                        Embark on a quest!
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
