{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="flex items-center justify-center h-screen bg-[url('/images/bgtest.jpg')]">
        <div class="text-center">
            <img id="loginImage" src="{{ asset('images/login/1.png') }}" alt="login-image" class="mx-auto mb-8 w-96"/>

            {{ form_start(registrationForm) }}

            <div class="mb-5">
                {{ form_label(registrationForm.username, 'Choose a name!', {
                    'label_attr': { 'class': 'text-3xl text-black bangers-regular'}})  }}) }}
                {{ form_widget(registrationForm.username, {
                    'attr': {
                        'id': 'email',
                        'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 '
                    }
                }) }}
            </div>

            <div class="mb-5">
                {{ form_label(registrationForm.email, 'Your email', {
                    'label_attr': { 'class': 'text-3xl bangers-regular'}})  }}) }}
                {{ form_widget(registrationForm.email, {
                    'attr': {
                        'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 '
                    }
                }) }}
            </div>

            <div class="mb-5">
                {{ form_label(registrationForm.plainPassword, 'Your password' , {
                    'label_attr': { 'class': 'text-3xl bangers-regular'}})  }}
                {{ form_widget(registrationForm.plainPassword, {

                    'attr': {
                        'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 '
                    }
                }) }}
            </div>

            <div class="flex items-start mb-5">
                <div class="flex items-center h-5">
                    {{ form_widget(registrationForm.agreeTerms, {
                        'attr': {
                            'class': 'w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 '
                        }
                    }) }}
                </div>
                <label for="agreeTerms" class="ms-2 text-sm font-medium text-gray-900">Agree Terms</label>
            </div>

            <button type="submit"
                    class="text-black text-xl bangers-regular bg-orangePeel hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">
                Register
            </button>

            {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/login.js') }}"></script>
{% endblock %}
