{% extends 'base.html.twig' %}

{% block body %}

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 h-[calc(100vh-124px)] bg-[url('/images/backgrounddash.jpg')] bg-cover bg-center ">
        <div class="relative rounded-lg overflow-y-auto flex flex-col h-full">
            <img src="{{ asset('images/profileStats/scroll.png') }}"
                 class="absolute top-0 left-0 w-full h-auto object-cover z-0 pt-9 pl-2.5 opacity-80"
                 alt="Scroll background">

            <div class="p-14 bg-tyrian-purple text-white relative z-10 flex-1">
                <div class="mb-4 mt-12 flex text-black bangers-regular items-center justify-center text-4xl">{{ user.username }}</div>
                <div class="relative mb-4">
                    {% if app.user.profession == 'Warrior' %}
                        <img id="loginImage" src="{{ asset('/images/characters/warriorCHAR.png') }}" alt="Warrior Image"
                             class="h-72 mx-auto max-w-full"/>
                    {% elseif app.user.profession == 'Mage' %}
                        <img id="loginImage" src="{{ asset('/images/characters/mageCHAR.png') }}" alt="Mage Image"
                             class="h-72 mx-auto max-w-full"/>
                    {% elseif app.user.profession == 'Rogue' %}
                        <img id="loginImage" src="{{ asset('/images/characters/rogueCHAR.png') }}" alt="Rogue Image"
                             class="h-96 mx-auto max-w-full"/>
                    {% endif %}

                    <div class="absolute top-2 left-1/2 transform -translate-x-1/2 z-50 text-center">
                        <img src="" id="levelImage" alt="" class="h-20 ml-80 mb-0 "/>
                    </div>
                </div>
                <div class="space-y-2">
                    <span id="level" class="hidden ">{{ user.CurrentXp }}</span>

                    <!-- Barra de progreso (Strength) -->

                    <div class="relative">
                        <img src="{{ asset('images/profileStats/strengthProfile.png') }}"
                             class="h-20 relative z-10 -mb-4" alt="strength banner">
                        <div class="text-4xl bangers-regular font-bold text-black rounded-md px-8 pt-6">
                            {{ user.CurrentLevel }}
                        </div>

                    </div>
                    <div class="relative">
                        <img src="{{ asset('images/profileStats/strengthProfile.png') }}"
                             class="h-20 relative z-10 -mb-4" alt="strength banner">
                        <span id="strength-required" class="hidden">{{ user.StrXpRq }}</span>
                        <span id="strength-current" class="hidden">{{ user.StrCurrent }}</span>
                        <span class="">{{ user.strength }}</span>

                        <div class="progress-bar h-6 bg-gray-300 rounded-full">
                            <div class="progress h-6 bg-blue-600 rounded-full" id="strength-progress"></div>
                        </div>
                    </div>

                    <!-- Barra de progreso (Intelligence) -->
                    <div class="relative">
                        <img src="{{ asset('images/profileStats/intelligenceProfile.png') }}"
                             class="h-16 relative z-10 -mb-4" alt="intelligence banner">
                        <span id="intelligence-required" class="hidden">{{ user.IntXpRq }}</span>
                        <span id="intelligence-current" class="hidden">{{ user.IntCurrent }}</span>
                        <span class="">{{ user.intelligence }}</span>


                        <div class="progress-bar h-6 bg-gray-300 rounded-full">
                            <div class="progress h-6 bg-blue-600 rounded-full" id="intelligence-progress"></div>
                        </div>
                    </div>

                    <!-- Barra de progreso (Constitution) -->
                    <div class="relative">
                        <img src="{{ asset('images/profileStats/constitutionProfile.png') }}"
                             class="h-16 relative z-10 -mb-4" alt="constitution banner">
                        <span id="constitution-required" class="hidden">{{ user.ConstXpRq }}</span>
                        <span id="constitution-current" class="hidden">{{ user.ConstCurrent }}</span>
                        <span class="">{{ user.constitution }}</span>

                        <div class="progress-bar h-6 bg-gray-300 rounded-full">
                            <div class="progress h-6 bg-blue-600 rounded-full" id="constitution-progress"></div>
                        </div>
                    </div>

                    <!-- Barra de progreso (Charisma) -->
                    <div class="relative">
                        <img src="{{ asset('images/profileStats/charismaProfile.png') }}"
                             class="h-16 relative z-10 -mb-4" alt="charisma banner">
                        <span id="charisma-required" class="hidden">{{ user.ChaXpRq }}</span>
                        <span id="charisma-current" class="hidden">{{ user.ChaCurrent }}</span>
                        <span class="">{{ user.charisma }}</span>

                        <div class="progress-bar h-6 bg-gray-300 rounded-full">
                            <div class="progress h-6 bg-blue-600 rounded-full" id="charisma-progress"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección Central: Tareas Incompletas -->
        <div class="relative rounded-lg overflow-y-auto flex flex-col h-full">
            <img src="{{ asset('images/profileStats/scroll.png') }}"
                 class="absolute top-0 left-0 w-full h-auto object-cover z-0 pt-9 pl-2.5 opacity-80"
                 alt="Scroll background">

            <div class="p-4 text-white relative z-10 flex-1">
                <div class="text-center mb-8">
                    <button class="bg-orangePeel border-2 border-black mb-8 text-black hover:bg-tyrianPurple bangers-regular hover:text-white font-bold mt-12 py-2 px-6 rounded-l"
                            onclick="window.location.href='{{ path('app_task_new') }}'">
                        Add a New Quest!
                    </button>
                    <div class="flex items-center justify-center mb-4">
                        <img src="{{ asset('/images/QQuest.png') }}" class="h-11 mr-2"/>
                        <h2 class="text-black bangers-regular text-3xl">Quests</h2>
                    </div>
                </div>
                <div class="space-y-4">
                    {% for task in userTasks %}
                        {% if not task.completed and not task.failed %}
                            <div class="mb-6  bg-[url('/images/tablon.png')] bg-cover bg-center rounded-lg shadow w-full h-full mx-auto">
                                <!-- Imagen centrada arriba -->
                                <div class="flex justify-center mb-4">
                                    <span class="stat hidden">{{ task.type }}</span>
                                    <img class="w-16 h-16 object-contain statImage" src="" alt="Task Image">
                                </div>
                                    <!-- Contenido de la tarea -->
                                <div >
                                    <div class="flex items-center gap-12 justify-around">
                                        <div class="text-center">
                                            <!-- Título de la tarea con enlace -->
                                            <a href="{{ path('app_task_edit', {'id': task.id}) }}"
                                               class="block font-bold text-blue-950 text-3xl bangers-regular">
                                                {{ task.title }}
                                            </a>
                                            <div>
                                                <!-- Descripción de la tarea -->
                                                <p class="text-gray-700 mt-2">{{ task.description }}</p>
                                            </div>
                                        </div>

                                        <!-- Botones de acción alineados a la derecha -->
                                        <div class="flex flex-col items-end space-y-4 justify-center mt-4">
                                            <!-- Botón: Completar -->
                                            <form action="{{ path('task_done', {'id': task.id}) }}" method="POST">
                                                <input type="hidden" name="_method" value="PATCH">
                                                <button type="submit"
                                                        class="bg-green-500 hover:bg-green-600 text-black font-bold py-2 px-4 rounded w-32">
                                                    Complete!
                                                </button>
                                            </form>

                                            <!-- Botón: Abandonar -->
                                            <form action="{{ path('app_task_delete', {'id': task.id}) }}" method="POST">
                                                <button type="submit"
                                                        class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded w-32">
                                                    Forfeit
                                                </button>
                                            </form>

                                            <!-- Botón: Editar -->
                                            <form action="{{ path('app_task_edit', {'id': task.id}) }}" method="POST">
                                                <input type="hidden" name="_method" value="PATCH">
                                                <button type="submit"
                                                        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded w-32">
                                                    Edit
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>


            </div>
        </div>

        <!-- Sección Derecha: Tareas Completadas y Fallidas -->
        <div class="p-4 rounded-lg h-full overflow-y-auto">
            <div class="grid grid-rows-2 gap-4 h-full">
                <!-- Bloque Superior: Completadas -->
                <div class="bg-[url('/images/profileStats/scroll.png')] bg-cover bg-center p-4 rounded overflow-y-auto">
                    <div class="flex items-center justify-center mb-4">
                        <img src="{{ asset('/images/CQuest.png') }}" class="h-11 mr-2"/>
                        <h2 class="text-black bangers-regular text-2xl">Completed</h2>
                    </div>
                    <ul class="space-y-2">
                        {% for task in userTasks|reverse|slice(0,5) %}
                            {% if task.completed %}
                                <li class="p-2 bg-white flex flex-row rounded shadow">
                                    {{ task.title }}
                                    <a href="{{ path('app_task_redo', {id: task.id}) }}" class="ml-auto">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                             class="size-6">
                                            <path fill-rule="evenodd"
                                                  d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <!-- Bloque Inferior: Fallidas -->
                <div class="bg-[url('/images/profileStats/scroll.png')] bg-cover bg-center p-4 rounded overflow-y-auto">
                    <div class="flex items-center justify-center mb-4">
                        <img src="{{ asset('/images/FQuest.png') }}" class="h-11 mr-2"/>
                        <h2 class="text-black bangers-regular text-2xl">Failed</h2>
                    </div>
                    <ul class="space-y-2">
                        {% for task in userTasks|reverse|slice(0,5) %}
                            {% if task.failed %}
                                <li class="p-2 bg-white rounded shadow">
                                    {{ task.title }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/stats.js') }}"></script>
{% endblock %}
