{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Current_level</th>
                <td>{{ user.currentLevel }}</td>
            </tr>
            <tr>
                <th>Current_xp</th>
                <td>{{ user.currentXp }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ user.profession }}</td>
            </tr>
            <tr>
                <th>Strength</th>
                <td>{{ user.strength }}</td>
            </tr>
            <tr>
                <th>Intelligence</th>
                <td>{{ user.intelligence }}</td>
            </tr>
            <tr>
                <th>Constitution</th>
                <td>{{ user.constitution }}</td>
            </tr>
            <tr>
                <th>Charisma</th>
                <td>{{ user.charisma }}</td>
            </tr>
            <tr>
                <th>Xp_required</th>
                <td>{{ user.xpRequired }}</td>
            </tr>
        </tbody>
    </table>

    {% if app.user.profession == 'Warrior' %}
    <img id="loginImage"
         src="https://e7.pngegg.com/pngimages/326/398/png-clipart-viking-ships-cartoon-viking-warrior-s-cartoonist-fictional-character.png"
         alt="login-image" class="mx-auto mb-8 w-96"/>
        <h1>Quests:</h1>
    {{ include('user/_delete_form.html.twig') }}
    {% endif %}
    {% if app.user.profession == 'Mage' %}
        <img id="loginImage"
             src="https://e7.pngegg.com/pngimages/326/398/png-clipart-viking-ships-cartoon-viking-warrior-s-cartoonist-fictional-character.png"
             alt="login-image" class="mx-auto mb-8 w-96"/>
        <h1 class="mx-auto" >Quests:</h1>

    {% endif %}

    {% if app.user.profession == 'Rogue' %}
        <img id="loginImage"
             src="https://img.freepik.com/fotos-premium/assassin-rogue-traje-furtivo-negro-gris-hombre-teena-lindo-personaje-guerrero-ilustracion_1020495-735699.jpg"
             alt="login-image" class="mx-auto mb-8 w-96"/>
        <h1>Quests:</h1>
    {% endif %}
   {% block tasks %}
       {% for task in userTasks %}
           <div>{{ task.title }}</div>
           <p>{{ task.description }}</p>
       {% endfor %}

       {% endblock %}

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

{% endblock %}
