<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HeroTask{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
</head>

{% block header %}
    <header class="flex items-center bg-yInMnBlue rounded-b-lg h-20 shadow p-4">
        <div class="flex-1 flex justify-center">
            <img src="{{ asset('images/HeroTaskBanner.png') }}" class="h-44 ">
        </div>
        {% if app.user %}
            <div class="flex space-x-4">
                <button onclick="window.location.href='{{ path('app_user_achievements') }}'"
                        class="bg-orangePeel text-white font-bold py-2 px-4 rounded-lg hover:bg-tyrianPurple transition">
                    Achievements
                </button>
                <button onclick="window.location.href='{{ path('app_logout') }}'"
                        class="bg-orangePeel text-white font-bold py-2 px-4 rounded-lg hover:bg-tyrianPurple transition">
                    LogOut
                </button>
            </div>
        {% endif %}
    </header>
{% endblock %}

{% block body %}
{% endblock %}


{% block footer %}
    <footer class="bg-yInMnBlue h-11  rounded-t-lg shadow-2xl sm:flex sm:items-center sm:justify-between  sm:p-6 antialiased">
        <p class="mb-4 text-sm text-center text-gray-500 dark:text-gray-400 sm:mb-0">
            &copy; 2024 Reboot Symfony Project.
        </p>
        <div class="flex justify-center items-center space-x-1">
            <a href="#"
               class="inline-flex justify-center p-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:hover:text-white dark:hover:bg-gray-600">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                     viewBox="0 0 8 19">
                    <path d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"/>
                </svg>
                <span class="sr-only">Facebook</span>
            </a>
            <a href="#"
               class="inline-flex justify-center p-2 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:hover:text-white dark:hover:bg-gray-600">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                     viewBox="0 0 20 20">
                    <path d="M12.186 8.672L18.743.947h-2.927l-5.005 5.9-4.44-5.9H0l7.434 9.876-6.986 8.23h2.927l5.434-6.4 4.82 6.4H20L12.186 8.672Zm-2.267 2.671L8.544 9.515 3.2 2.42h2.2l4.312 5.719 1.375 1.828 5.731 7.613h-2.2l-4.699-6.237Z"/>
                </svg>
                <span class="sr-only">Twitter</span>
            </a>
        </div>
    </footer>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
